@import "./auth.css";

body, .body,
.v-text-field.v-text-field--outlined.custom-input label {
  background: #e2d3d3 !important;
}

.body {
  padding: 0;
  margin: 0;
}

.body.fullWidth {
  width: 100%;
  height: calc(100vh - 300px);
}

.loadingCenter {
  width: 100%;
  height: calc(100vh - 100px);
}

/*  */
/*.messageListItem-text__skeleton {*/
/*  width: 270px;*/
/*}*/
